@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: Shadows Into Light;
}

.container{
	width: 500px;
	height: 500px;
	border: 1px solid;
	margin:0 auto;
	text-align: center;
	padding: 100px;
}
.quote{
	font-size: 30px;
}
.quoteAuthor{
	font-family: Roboto;
	font-size: 20px;
}